@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="https://thumbs.dreamstime.com/b/cosmos-beauty-deep-space-elements-image-furnished-nasa-science-fiction-art-102581846.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <a href="#" class="card-link" style="color:grey;"><i onclick="myFunction(this)" class="fa fa-thumbs-up"> Like</i></a>
            <a href="#" class="card-link"><i class="fa fa-eye"> Favourite</i></a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://thumbs.dreamstime.com/b/cosmos-beauty-deep-space-elements-image-furnished-nasa-science-fiction-art-102581846.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
            <a href="#" class="card-link" style="color:grey;"><i onclick="myFunction(this)" class="fa fa-thumbs-up"> Like</i></a>
            <a href="#" class="card-link"><i class="fa fa-eye"> Favourite</i></a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://thumbs.dreamstime.com/b/cosmos-beauty-deep-space-elements-image-furnished-nasa-science-fiction-art-102581846.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
            <a href="#" class="card-link" style="color:grey;"><i onclick="myFunction(this)" class="fa fa-thumbs-up"> Like</i></a>
                <a href="#" class="card-link"><i class="fa fa-eye"> Favourite</i></a>
        </div>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="https://thumbs.dreamstime.com/b/cosmos-beauty-deep-space-elements-image-furnished-nasa-science-fiction-art-102581846.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <a href="#" class="card-link" style="color:grey;"><i onclick="myFunction(this)" class="fa fa-thumbs-up"> Like</i></a>
            <a href="#" class="card-link"><i class="fa fa-eye"> Favourite</i></a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://thumbs.dreamstime.com/b/cosmos-beauty-deep-space-elements-image-furnished-nasa-science-fiction-art-102581846.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
            <a href="#" class="card-link" style="color:grey;"><i onclick="myFunction(this)" class="fa fa-thumbs-up"> Like</i></a>
            <a href="#" class="card-link"><i class="fa fa-eye"> Favourite</i></a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://thumbs.dreamstime.com/b/cosmos-beauty-deep-space-elements-image-furnished-nasa-science-fiction-art-102581846.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
            <a href="#" class="card-link" style="color:grey;"><i onclick="myFunction(this)" class="fa fa-thumbs-up"> Like</i></a>
            <a href="#" class="card-link"><i class="fa fa-eye"> Favourite</i></a>
        </div>
    </div>
</div>
<script>
    function myFunction(x) {
        x.classList.toggle("fa-thumbs-down");
    }
</script>